.chat-side 
  .side-header
    .side-header__box
      %p.side-header__box__user-name
        = current_user.name
      %ul.side-header__box__menu
        %li.side-header__box__menu__new-group
          = link_to  new_group_path do
            = icon('fa', 'edit')
        %li.side-header__box__menu__edit-user
          = link_to edit_user_path(current_user.id) do
            = icon('fa', 'cog')
  .groups
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          .group__group-name 
            = group.name
          .group__group-message
            メッセージはないよ
  