= render 'side_bar'

.main-chat 
  .main-header
    .main-header__left-box
      .main-header__left-box__group-name
        = @group.name
        %ul.main-header__left-box__member-list
          Members:
          - @group.users.each do |user|
            %li.main-header__left-box__member-list--member
              = user.name
    .main-header__edit-btn
      = link_to edit_group_path(@group) do
        Edit

  .messages
    = render @messages

  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('fa', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'